body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
  margin: 20px;
}

.container {
  text-align: center;
  padding: 0 20px;
  max-width: 600px;
}

.container p {
  margin: 20px 0;
}

.button1 {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 200px;
  height: auto;
  margin: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .container p {
    width: 90%;
  }

  .image-container img {
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5px;
    max-width: 90%;
    overflow: auto;
  }

  .container p {
    width: 100%;
  }

  .image-container img {
    max-width: 100%;
  }
}
